input[type='checkbox'] {
    display: none;
  }

body {
  background-color: rgb(20, 17, 44);
}

  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: left;
  
    padding: 1rem;
    margin-top:.5rem;
  
    color: #ededed;
    background: #007e54;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #b8b8b8;
  }

  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }

  .collapsible-note .note-inner {
    background: rgba(60, 47, 82, 0.918);
    border-bottom: 1px solid rgba(20, 13, 61, 0.45);
  
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }

  .collapsible-note {
    max-height: 0px;
    overflow: auto;

    color: white;
    font-family: monospace;
    font-size: .9rem;

    transition: max-height .25s ease-in-out;
  }

  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }

  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }