:root {
    --background:  rgb(25, 22, 33);
    --hover: rgb(184, 184, 184);

    --folder-bg: rgb(58, 81, 73);
    --folder: rgb(237, 237, 237);
    --folder-hover: rgb(184, 184, 184);
    
    --note-bg: rgb(103, 137, 126);
    --note: rgb(10, 73, 67);
    --note-hover: rgb(184, 184, 184);

    --text-body-bg: rgba(60, 47, 82, 0.918);
    --text-body: white;

    --sidebar-bg: rgba(93, 92, 110, 0.292);
    --sidebar-width: 20rem;

    --href: rgb(10, 73, 67);
    --href-hover: white;
}

body {
    background: var(--background);
}

.title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;

    margin-bottom: 0.5rem;
    border-radius: 7px;
}
  
.folder {
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--folder);
    background: var(--folder-bg);
}

.folder.sidebar {
    font-size: 0.9rem;
    padding: 0.7rem;
}
  
.note {
    font-size: 0.9rem;
    height: fit-content;
    padding: 0.5rem;
    color: var(--note);
    background: var(--note-bg);
}

.note.sidebar {
    margin-left: 0.5rem;
}
  
.note.href {
    color: var(--href);
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.note.href:hover {
    color: var(--href-hover);
}